<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ name }} {{ version }} • ompi{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/project.css">

    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>
<body>
    <nav>
        {% block navbar %}{% include "navbar.html" %}{% endblock %}
    </nav>
    <main>
        <header>
            <div class="banner">
                <div>
                <h1>{{ name }} {{ version }} <span class="latest">latest</span></h1>
                <h3>{{ description }}</h3>
                
                </div>
            </div>
        </header>
        <section class="content">
            <div class="project">
                <section>
                <h3>Installation</h3>
                <code>ompi install {{ name }}</code>
                </section>
                <section>
                <h3>Information</h3>
                <p>{{ why }}</p>
                <ul class="group">
                <li> Version: {{ version }}</li>
                <li> License: {{ license }}</li>
                <li> Source: <a src="{{ src }}">Github</a> </li>
                </ul>
                </section>
                <section>
                <h3>Maintainers</h3>
                <ul class="group">
                    {% for maintainer in maintainers %}
                    <li>{{ maintainer }}</li>
                    {% endfor %}
                </ul>
                </section>
            </div>
            <md-block class="readme">
                {% block readme %}{{ readme | safe }}{% endblock %}
            </md-block>
        </section>
    </main>
</body>
<script>
    hljs.highlightAll();
</script>
</html>
