#logo {
    max-width: 6rem;
    margin: auto 0;
}

navbar {
    height: 5rem;
    display: flex;
    padding: 0 1.3rem;
    gap: 1rem;
    border-bottom: 1px #d1d9e0 solid;
    border-top: 6px solid #006dad;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

navbar p {
    margin: auto;
}

#searchbar {
    height: 100%;
    display: flex;
    margin-right: auto;
}

#searchbar .search {
    display: flex;
    margin: auto;
    height: 1.6rem;
    padding: .4rem .8rem;
    border-radius: 2rem;
    border: 1px solid #d1d9e0;
    gap: .2rem;
}

.search span {
    margin: auto;
    color: #59636e;
    font-weight: 300;
}

.search input[type=text] {
    font-family: "Inter", monospace;
    margin: auto;
    margin-left: 0;
    width: 30rem;
    border: 0;
    font-size: 1rem;
    outline: none;
}

.float-right {
    margin-left: auto;
    display: flex;
    gap: 1.6rem;
}

.float-right a {
    margin: auto;
}